<!-- Luxury Perfume Category -->
<section class="luxury-perfumes">
  <h2>Luxury Perfumes</h2>

  <p class="luxury-subtitle">
    Discover our exclusive collection of Premium Fragrances
  </p>

  <div class="perfume-container">

        <div class="perfume-box">
      <img src="../../../assets/luxuryPerfumes/creed flacon.png" alt="creed flacon"/>
      <h3>Creed Aventus EDP Flacon</h3>
      <h4>MRP: ₹99,000</h4>
      <button>Add To Cart</button>
    </div>

    <div class="perfume-box">
      <img src="../../../assets/luxuryPerfumes/roja.png" alt="Roja" />
      <h3>Amber Aoud</h3>
      <h4>MRP: ₹41,589</h4>
      <button>Add To Cart</button>
    </div>

    <div class="perfume-box">
      <img src="../../../assets/luxuryPerfumes/creed.png" alt="Creed" />
      <h3>Iris Debonair</h3>
      <h4>MRP: ₹40,000</h4>
      <button class="button">Add To Cart</button>
    </div>
<!-- 
    <div class="perfume-box">
      <img src="../../../assets/luxuryPerfumes/clive C.png" alt="Clive C" />
      <h3>Clive Christian No.1 Masculine</h3>
      <h4>MRP: ₹76,500</h4>
      <button>Add To Cart</button>
    </div>

    <div class="perfume-box">
      <img src="../../../assets/luxuryPerfumes/baccarat.png" alt="Baccarat" />
      <h3>Maison Francis Kurkdjian Baccarat</h3>
      <h4>MRP: ₹42,400</h4>
      <button>Add To Cart</button>
    </div>

    <div class="perfume-box">
      <img src="../../../assets/luxuryPerfumes/amouage.png" alt="Amouage" />
      <h3>Amouage Guidance 46</h3>
      <h4>MRP: ₹56,160</h4>
      <button>Add To Cart</button>
    </div>

    <div class="perfume-box">
      <img src="../../../assets/luxuryPerfumes/lv.png" alt="LV" />
      <h3>Ambre Levant Louis Vuitton</h3>
      <h4>MRP: ₹42,500</h4>
      <button>Add To Cart</button>
    </div>

    <div class="perfume-box">
      <img src="../../../assets/luxuryPerfumes/tf.png" alt="Tom Ford" />
      <h3>Tom Ford Tobacco Vanille Parfum</h3>
      <h4>MRP: ₹38,592</h4>
      <button>Add To Cart</button>
    </div>  -->
  </div>
</section>
